* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: monospace;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: beige;
}

.spacer {
  top: 60px;
  width: 100%;
  height: 60px;
}

header {
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3098039216), inset 0 5px 5px 0 rgba(255, 255, 255, 0.1176470588), 0 10px 15px 0 rgba(0, 0, 0, 0.3098039216), inset 0 -5px 5px 0 rgba(0, 0, 0, 0.3098039216);
  position: fixed;
  width: 100%;
  height: 60px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 15vw;
  align-items: center;
  background-color: rgb(189, 98, 63);
  z-index: 2;
}
header h1 span {
  color: rgb(233, 194, 122);
}

nav span {
  cursor: default;
  font-size: xx-large;
  color: rgb(233, 194, 122);
}
nav span::before {
  content: "/";
}
nav .menu {
  display: none;
  position: absolute;
  width: 130px;
  border-inline: 2px solid rgb(233, 194, 122);
  border-radius: 35px;
  list-style-type: none;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3098039216), inset 0 5px 5px 0 rgba(255, 255, 255, 0.1176470588), 0 10px 15px 0 rgba(0, 0, 0, 0.3098039216), inset 0 -5px 5px 0 rgba(0, 0, 0, 0.3098039216);
  overflow: hidden;
}
nav .menu li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 2rem;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  background-color: rgb(204, 197, 181);
  transition: all 0.1s;
  box-shadow: inset -1px -3px 5px 0 rgba(0, 0, 0, 0.3098039216), inset 1px 3px 5px 0 rgba(255, 255, 255, 0.1176470588);
}
nav .menu li:hover {
  line-height: 3rem;
  font-size: large;
  background-color: lightgray;
}
nav .menu li:hover::before {
  content: "./";
  color: rgb(233, 194, 122);
}
nav .menu li a {
  text-decoration: none;
}
nav .menu li a:active {
  color: #ffff00;
}
nav span:hover ~ .menu, nav .menu:hover {
  display: block;
}

body {
  perspective: 100px;
}

section {
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3098039216), inset 0 5px 5px 0 rgba(255, 255, 255, 0.1176470588), 0 10px 15px 0 rgba(0, 0, 0, 0.3098039216), inset 0 -5px 5px 0 rgba(0, 0, 0, 0.3098039216);
  position: relative;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-block: 60px;
  margin-inline: auto;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: rgb(204, 197, 181);
  background-image: url(./images/Hazy_black_ink_texture_with_brushstrokes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section h2 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-decoration: underline 0.2em rgb(233, 194, 122);
          text-decoration: underline 0.2em rgb(233, 194, 122);
}

#clockSection {
  margin-top: 0;
}
#clockSection .clock {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  overflow: hidden;
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.3098039216), 0px 0px 20px -8px rgb(233, 194, 122), -2px -2px 3px -1px rgba(0, 0, 0, 0.3098039216), -5px -5px 8px 0 rgba(0, 0, 0, 0.3098039216), inset 0 0 0px 150px rgba(0, 0, 0, 0.3098039216), 0 0 10px 10px black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#clockSection .clock .timeLine {
  position: absolute;
  width: 5px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 40px 10px rgb(233, 194, 122), 0 2px 10px 2px rgb(233, 194, 122), inset 0 0 2px 1px rgb(233, 194, 122);
}
#clockSection .clock .timeLine:nth-of-type(1) {
  transform: rotate(30deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(2) {
  transform: rotate(60deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(3) {
  transform: rotate(90deg) translateY(-150px);
}
#clockSection .clock .timeLine:nth-of-type(4) {
  transform: rotate(120deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(5) {
  transform: rotate(150deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(6) {
  transform: rotate(180deg) translateY(-150px);
}
#clockSection .clock .timeLine:nth-of-type(7) {
  transform: rotate(210deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(8) {
  transform: rotate(240deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(9) {
  transform: rotate(270deg) translateY(-150px);
}
#clockSection .clock .timeLine:nth-of-type(10) {
  transform: rotate(300deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(11) {
  transform: rotate(330deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(12) {
  transform: translateY(-150px);
}
#clockSection .clock #centerPiece {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80px;
  height: 80px;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3098039216);
  font-weight: 600;
  background-image: url(./images/Hazy_black_ink_texture_with_brushstrokes.jpg);
  background-size: 400%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 0px 0px 20px -5px black, inset 0px 0px 20px -12px rgb(233, 194, 122), inset 4px 3px 3px 0 rgba(255, 255, 255, 0.1176470588), inset 2px 2px 2px 0 rgba(255, 255, 255, 0.1176470588), inset -5px -5px 5px 0 rgba(0, 0, 0, 0.3098039216), 0 0 3px -2px #fff, inset 0 0 5px 5px rgba(0, 0, 0, 0.3098039216);
}
#clockSection .clock .light {
  font-size: xx-large;
  filter: saturate(5) brightness(110%);
}
#clockSection .clock .light::after {
  content: "";
}
#clockSection .clock #hrArrow, #clockSection .clock #minArrow, #clockSection .clock #secArrow {
  position: absolute;
  width: 4px;
  border-radius: 3px;
  background-color: #fff;
  transform-origin: bottom;
  transition-property: transform;
  transition-timing-function: linear;
}
#clockSection .clock #hrArrow {
  height: 100px;
  top: 50px;
  box-shadow: 0 0 3px 1px rgb(233, 194, 122), 0 0 15px 3px rgb(233, 194, 122), inset 0 0 2px 0px rgb(233, 194, 122);
}
#clockSection .clock #minArrow {
  height: 130px;
  top: 20px;
  box-shadow: 0 0 3px 1px rgb(233, 194, 122), 0 0 15px 3px rgb(233, 194, 122), inset 0 0 2px 0px rgb(233, 194, 122);
}
#clockSection .clock #secArrow {
  width: 3px;
  height: 170px;
  top: -20px;
  border-radius: 20%;
  background-color: transparent;
  box-shadow: 0 30px 0px 1px crimson;
}

#carouselSection .carouselContainer {
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 1em;
}
#carouselSection .carouselContainer .carouselSlide {
  display: flex;
  width: 100%;
  height: 100%;
}
#carouselSection .carouselContainer .carouselSlide img {
  width: 100%;
}