* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  font-family: monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

.spacer {
  width: 100%;
  height: 100px;
}

header {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.274);
  position: fixed;
  width: 100%;
  height: 60px;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  padding-inline: 15vw;
  align-items: center;
  color: #fff;
  background-color: rgb(189, 98, 63);
  z-index: 2;
}
header h1 span {
  color: #e9c27a;
}

nav span {
  cursor: default;
  font-size: xx-large;
  color: #e9c27a;
}
nav span::before {
  content: "/";
}
nav .menu {
  display: none;
  position: absolute;
  width: 135px;
  border-inline: 2px solid #e9c27a;
  border-radius: 1em;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.2039215686);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.274);
  overflow: hidden;
}
nav .menu li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 2rem;
  border-radius: 0.5em;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  transition: all 0.1s;
  box-shadow: inset -1px -3px 5px 0 rgba(0, 0, 0, 0.2274509804), inset 1px 3px 5px 0 rgba(255, 255, 255, 0.2039215686);
}
nav .menu li:hover {
  line-height: 3rem;
  font-size: large;
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.2274509804);
}
nav .menu li:hover::before {
  content: "./";
  color: rgb(189, 98, 63);
}
nav .menu li a {
  text-decoration: none;
  color: #464646;
}
nav .menu li a :hover {
  color: #727272;
}
nav span:hover ~ .menu, nav .menu:hover {
  display: block;
}

body {
  perspective: 100px;
}

section {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.274);
  position: relative;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-block: 60px;
  margin-inline: auto;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: #464646;
  background-color: #d3d3d3;
}
section h2 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-decoration: underline 0.2em #e9c27a;
          text-decoration: underline 0.2em #e9c27a;
}

#clockSection .clock {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-block: 10px;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2274509804);
  overflow: hidden;
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2274509804), 0 0 10px 5px rgba(0, 0, 0, 0.2274509804);
}
#clockSection .clock .timeLine {
  position: absolute;
  width: 5px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 40px 10px #e9c27a, 0 2px 10px 2px #e9c27a, inset 0 0 2px 1px #e9c27a;
}
#clockSection .clock .timeLine:nth-of-type(1) {
  transform: rotate(30deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(2) {
  transform: rotate(60deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(3) {
  transform: rotate(90deg) translateY(-150px);
}
#clockSection .clock .timeLine:nth-of-type(4) {
  transform: rotate(120deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(5) {
  transform: rotate(150deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(6) {
  transform: rotate(180deg) translateY(-150px);
}
#clockSection .clock .timeLine:nth-of-type(7) {
  transform: rotate(210deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(8) {
  transform: rotate(240deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(9) {
  transform: rotate(270deg) translateY(-150px);
}
#clockSection .clock .timeLine:nth-of-type(10) {
  transform: rotate(300deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(11) {
  transform: rotate(330deg) translateY(-173px);
}
#clockSection .clock .timeLine:nth-of-type(12) {
  transform: translateY(-150px);
}
#clockSection .clock #centerPiece {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  background-size: 400%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2274509804), inset -5px -5px 4px 0 rgba(0, 0, 0, 0.2274509804), inset 5px 5px 7px 0 #fff;
}
#clockSection .clock #centerPiece #display {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: x-large;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 5px #e9c27a, -1px 1px 5px #e9c27a, -1px -1px 5px #e9c27a, 1px -1px 5px #e9c27a;
}
#clockSection .clock #centerPiece .blink {
  font-size: x-large;
  opacity: 0%;
  transition: all 0.4s ease-in 0.1s;
}
#clockSection .clock #hrArrow, #clockSection .clock #minArrow, #clockSection .clock #secArrow {
  position: absolute;
  width: 4px;
  border-radius: 3px;
  background-color: #fff;
  transform-origin: bottom;
  transition-property: transform;
  transition-timing-function: linear;
}
#clockSection .clock #hrArrow {
  height: 100px;
  top: 50px;
  box-shadow: 0 0 3px 1px #e9c27a, 0 0 15px 3px #e9c27a, inset 0 0 2px 0px #e9c27a;
}
#clockSection .clock #minArrow {
  height: 130px;
  top: 20px;
  box-shadow: 0 0 3px 1px #e9c27a, 0 0 15px 3px #e9c27a, inset 0 0 2px 0px #e9c27a;
}
#clockSection .clock #secArrow {
  width: 3px;
  height: 170px;
  top: -20px;
  border-radius: 20%;
  background-color: transparent;
  box-shadow: 0 30px 0px 2px rgb(116, 105, 93);
}

#carouselSection {
  display: flex;
  flex-direction: column;
}
#carouselSection .carouselContainer {
  position: relative;
  width: 60%;
  margin-block: 10px;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 0px 0px 20px -8px #e9c27a, -2px -2px 5px -3px rgba(0, 0, 0, 0.2274509804), -5px -5px 8px 0 rgba(0, 0, 0, 0.2274509804), 5px 5px 8px 0 #fff;
}
#carouselSection .carouselContainer button {
  position: absolute;
  width: 1em;
  height: 100%;
  z-index: 1;
  color: rgba(255, 255, 255, 0.2039215686);
  border: none;
  font-size: xx-large;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
}
#carouselSection .carouselContainer button:active {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.35);
}
#carouselSection .carouselContainer #prevButton {
  left: 0;
  border-left: 3px solid #e9c27a;
  border-radius: 1rem 0 0 1rem;
}
#carouselSection .carouselContainer #nextButton {
  right: 0;
  border-right: 3px solid #e9c27a;
  border-radius: 0 1rem 1rem 0;
}
#carouselSection .carouselContainer .carouselSlide {
  display: flex;
  width: 100%;
  height: 100%;
}
#carouselSection .carouselContainer .carouselSlide img {
  width: 100%;
}
#carouselSection .source {
  position: relative;
  top: 10px;
}
#carouselSection .source, #carouselSection a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: rgba(0, 0, 0, 0.2274509804);
}