:root {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
@keyframes rotateHue {
    0% {
        backdrop-filter: hue-rotate(0deg);
    }
    100% {
        backdrop-filter: hue-rotate(360deg);
    }
}
body {
    padding-inline: 10vw;
    height: 100%;
    background-color: white;
    width: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: none;
}

#hueBox {
    position: absolute;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hueBox #toggler {
    width: 150px;
}
#hueBox #speedDisplay {
    width: 40px;
}


#sliderBox {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s filter;
}
.slider {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider input {
    display: none;
    transform: rotate(-90deg);
    width: max-content;
    transition-property: display;
    transition-delay: 2s;
}

.slider input:hover {
    cursor: ns-resize;
}

body .slider:hover input{
    display: block;
}