@import '../sass_utils/variables', '../sass_utils/mixins';

#carouselSection {
    display: flex;
    flex-direction: column;

    .carouselContainer {
        position: relative;
        width: 60%;
        margin-block: 10px;
        overflow: hidden;
        border-radius: 1em;
        box-shadow:
        0px 0px 20px -8px $tertiaryColor,
        -2px -2px 5px -3px $darken,
        -5px -5px 8px 0 $darken,
        5px 5px 8px 0 #fff;
        // 0 0 0px 10px $secondaryColor;

        button {
            position: absolute;
            width:1em;
            height: 100%;
            z-index: 1;
            color: $brighten;
            border: none;
            font-size: xx-large;
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);

            &:active {
                background-color: rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.35);
            }
        }
        #prevButton {
            left: 0;
            border-left: 3px solid $tertiaryColor;
            border-radius: 1rem 0 0 1rem;
        }
        #nextButton {
            right: 0;
            border-right: 3px solid $tertiaryColor;
            border-radius: 0 1rem 1rem 0;
        }

        .carouselSlide {
            display: flex;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            }
        }
    }
    .source {
        position: relative;
        top: 10px;
    }
    .source, a {
        width: max-content;
        color: $darken;
    }
}