
:root {
    width: 100%;
    height: 100%;
    --menuColor:lightgray;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
@keyframes rotateHue {
    0% {
        backdrop-filter: hue-rotate(0deg);
    }
    100% {
        backdrop-filter: hue-rotate(360deg);
    }
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    width: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: none;
}


#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
}


/* ===== CLOCK BODY =====*/
#analogClock {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    border: 10px;
    border-radius: 50%;
    background: url(./images/moon-dark.png);
    background-size: 110%;
    background-position: center;
    box-shadow:
    /* MOON LIGHTING */
    inset -15vw 0 6vw -9vw rgba(255, 255, 255, 0.5),

    /* LIGHT REFLECTION */
    5vw  0 8vw -5vw rgb(255, 255, 255),

    /* SUN */
    45vw  0 0.8vw -16vw rgb(255, 255, 255),
    45vw  0 2.5vw -15vw rgb(255, 238, 207),

    /* BACKGROUND */
    0 0 0 100vw black;
    ;
    z-index: 1;
}
#analogClock #center {  /* CENTER-DOT OF CLOCK */
    position: relative;
    display: flex;
    justify-content: flex;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: black;

    display: none;
}
#analogClock .arrows {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    /* transition: transform .08s cubic-bezier(.66,1,.8,1.54); */
    /* transition: transform 1s linear; */
}

/* #analogClock #secArrow{
    transform: rotate(-12deg);
    transition: transform 1s linear;
}
#analogClock #minArrow{
    transition: transform 60s linear;
}
#analogClock #hrArrow{
    transition: transform 3600s linear;
} */


#analogClock #secArrow{
    --primary-color: darkgray;
    --secondary-color: rgb(211, 150, 101);
    --solPanel-color: rgb(39, 33, 121);
    --solPanel-shadow: rgb(24, 19, 90);
    --SaucerColor:white;
    /* overflow: hidden; */
}

/* === SATELLITE SAUCER === */
#analogClock #secArrow::before{
    content: "";
    position: absolute;
    overflow: hidden;
    width: 3vw;
    height: 2vw;
    bottom: 20.5vw;
    border-radius: 50%;
    border: 0.2vw dashed yellow green;
    background-color: rgb(120, 120, 120);
    box-shadow: 
    inset 0 -0.4vw 1vw 0 var(--SaucerColor);
}

#analogClock #secArrow::after{
    content: "";
    position: absolute;
    
    /* width: 0.25vw;
    bottom: -2vw;
    height: 20.5vw;
    border-radius: 100% 100% 0.1vw 0.1vw;
    background-color: red;
    box-shadow: inset -0px 0 5px 0px rgb(0, 0, 0) */

    /* width: 1vw;
    height: 24vw;
    bottom: -2vw;
    border-radius: 1px;
    background-color: white; */
    /* box-shadow: inset 0px 1vw 0px -1px rgba(255, 0, 0, 0.5); */
    
    /*===== SPACESHIP ===== */
    /* width: 1vw;
    height: .6vw;
    bottom: 24vw;
    border-radius: 50% 60% 60% 50%;
    border: 0.2vw solid gray;
    border-left: 1vw groove gray;
    border-block-start-width: 0px;
    background-color: rgb(35, 20, 168);
    box-shadow: inset 0 0 0.3vw 0 rgba(0, 0, 0, 0.466); */

    /*===== SATELLITE =====*/
    width: 0.85vw;
    height: 1vw;
    bottom: 22vw;
    border-radius: 25%;
    border-bottom: 0.2vw solid;
    border-inline: 0.3vw solid rgb(85, 85, 85);
    border-inline-style: dashed dashed ;
    border-block-start-width: 0;
    border-bottom-color: rgb(85, 85, 85);
    background-color: var(--secondary-color);
    box-shadow:
    /*--- SATELLITE BODY ---*/
            /* WINDOW */
    inset 0 -0.2vw 0.2vw 0.12vw var(--primary-color),
    inset 0 -0.2vw 0.1vw 0.22vw rgb(56, 56, 56),
    inset 0 -0.2vw 0.1vw 0.22vw rgb(56, 56, 56),

            /* SAUCER ROD */
    0 0.65vw 0vw -0.5vw rgb(100, 100, 100),
    

    
    /*--- SATELLITE BODY FRONT ---*/
            /* SOLAR PANELS R */
    3.36vw 0.4vw 0 -0.4vw var(--solPanel-shadow),
    3.335vw 0.6vw 0 -0.4vw var(--solPanel-color),
    3.36vw 1vw 0 -0.4vw var(--solPanel-shadow),
    3.335vw 1.2vw 0 -0.4vw var(--solPanel-color),
    3.36vw 1.6vw 0 -0.4vw var(--solPanel-shadow),
    3.335vw 1.8vw 0 -0.4vw var(--solPanel-color),
    3.36vw 2.2vw 0 -0.4vw var(--solPanel-shadow),
    3.335vw 2.4vw 0 -0.4vw var(--solPanel-color),
    3.36vw 2.8vw 0 -0.4vw var(--solPanel-shadow),
    3.335vw 3vw 0 -0.4vw var(--solPanel-color),
    3.36vw 3.4vw 0 -0.4vw var(--solPanel-shadow),
    3.335vw 3.6vw 0 -0.4vw var(--solPanel-color),
    2.415vw 3.6vw 0 -0.4vw var(--solPanel-shadow),
    2.44vw 3.4vw 0 -0.4vw var(--solPanel-color),
    2.415vw 3vw 0 -0.4vw var(--solPanel-shadow),
    2.44vw 2.8vw 0 -0.4vw var(--solPanel-color),
    2.415vw 2.4vw 0 -0.4vw var(--solPanel-shadow),
    2.44vw 2.2vw 0 -0.4vw var(--solPanel-color),
    2.415vw 1.8vw 0 -0.4vw var(--solPanel-shadow),
    2.44vw 1.6vw 0 -0.4vw var(--solPanel-color),
    2.41vw 1.2vw 0 -0.4vw var(--solPanel-shadow),
    2.44vw 1vw 0 -0.4vw var(--solPanel-color),
    2.415vw 0.6vw 0 -0.4vw var(--solPanel-shadow),
    2.44vw 0.4vw 0 -0.4vw var(--solPanel-color),
    2.3vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
    2.65vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
    2.9vw 0.15vw 0 -0.5vw rgb(212, 144, 81),
    3.15vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
    3.5vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
            /* CENTER ROD*/
    1.1vw -0.2vw 0 -0.55vw rgba(0, 0, 0, 0.25),
    1.1vw 0 0 -0.55vw rgba(0, 0, 0, 0.25),
    1.1vw 0.2vw 0 -0.55vw rgba(0, 0, 0, 0.25),
    1vw 0 0 -0.2vw rgb(0,0,0,0.4),
    1vw 0 0 -0.2vw var(--primary-color),
    1.55vw 0 0 -0.45vw rgb(150, 150, 150),
    2vw 0 0 -0.49vw rgb(140, 140, 140),
    2.4vw 0 0 -0.51vw rgb(130, 130 ,130),
    2.9vw 0 0 -0.4vw rgb(150, 150, 150),
    3.4vw 0 0 -0.5vw rgb(80, 80, 80),
            /* --- SOLAR PANEL L --- */
    2.44vw -0.4vw 0 -0.4vw var(--solPanel-shadow),
    2.415vw -0.6vw 0 -0.4vw var(--solPanel-color),
    2.44vw -1vw 0 -0.4vw var(--solPanel-shadow),
    2.415vw -1.2vw 0 -0.4vw var(--solPanel-color),
    2.44vw -1.6vw 0 -0.4vw var(--solPanel-shadow),
    2.415vw -1.8vw 0 -0.4vw var(--solPanel-color),
    2.44vw -2.2vw 0 -0.4vw var(--solPanel-shadow),
    2.415vw -2.4vw 0 -0.4vw var(--solPanel-color),
    2.44vw -2.8vw 0 -0.4vw var(--solPanel-shadow),
    2.415vw -3vw 0 -0.4vw var(--solPanel-color),
    2.44vw -3.4vw 0 -0.4vw var(--solPanel-shadow),
    2.415vw -3.6vw 0 -0.4vw var(--solPanel-color),
    3.335vw -3.6vw 0 -0.4vw var(--solPanel-shadow),
    3.36vw -3.4vw 0 -0.4vw var(--solPanel-color),
    3.335vw -3vw 0 -0.4vw var(--solPanel-shadow),
    3.36vw -2.8vw 0 -0.4vw var(--solPanel-color),
    3.335vw -2.4vw 0 -0.4vw var(--solPanel-shadow),
    3.36vw -2.2vw 0 -0.4vw var(--solPanel-color),
    3.335vw -1.8vw 0 -0.4vw var(--solPanel-shadow),
    3.36vw -1.6vw 0 -0.4vw var(--solPanel-color),
    3.335vw -1.2vw 0 -0.4vw var(--solPanel-shadow),
    3.36vw -1vw 0 -0.4vw var(--solPanel-color),
    3.335vw -0.6vw 0 -0.4vw var(--solPanel-shadow),
    3.36vw -0.4vw 0 -0.4vw var(--solPanel-color),
    2.3vw -0.2vw 0 -0.55vw rgb(212, 144, 81),
    2.65vw -0.2vw 0 -0.55vw rgb(212, 144, 81),
    2.9vw -0.15vw 0 -0.5vw rgb(212, 144, 81),
    3.15vw -0.2vw 0 -0.55vw rgb(212, 144, 81),
    3.5vw -0.2vw 0 -0.55vw rgb(212, 144, 81),


    /*--- SATELLITE BODY BACK ---*/
            /* SOLAR PANEL R */
    -3.36vw 0.4vw 0 -0.4vw var(--solPanel-shadow),
    -3.335vw 0.6vw 0 -0.4vw var(--solPanel-color),
    -3.36vw 1vw 0 -0.4vw var(--solPanel-shadow),
    -3.335vw 1.2vw 0 -0.4vw var(--solPanel-color),
    -3.36vw 1.6vw 0 -0.4vw var(--solPanel-shadow),
    -3.335vw 1.8vw 0 -0.4vw var(--solPanel-color),
    -3.36vw 2.2vw 0 -0.4vw var(--solPanel-shadow),
    -3.335vw 2.4vw 0 -0.4vw var(--solPanel-color),
    -3.36vw 2.8vw 0 -0.4vw var(--solPanel-shadow),
    -3.335vw 3vw 0 -0.4vw var(--solPanel-color),
    -3.36vw 3.4vw 0 -0.4vw var(--solPanel-shadow),
    -3.335vw 3.6vw 0 -0.4vw var(--solPanel-color),
    -2.415vw 3.6vw 0 -0.4vw var(--solPanel-shadow),
    -2.44vw 3.4vw 0 -0.4vw var(--solPanel-color),
    -2.415vw 3vw 0 -0.4vw var(--solPanel-shadow),
    -2.44vw 2.8vw 0 -0.4vw var(--solPanel-color),
    -2.415vw 2.4vw 0 -0.4vw var(--solPanel-shadow),
    -2.44vw 2.2vw 0 -0.4vw var(--solPanel-color),
    -2.415vw 1.8vw 0 -0.4vw var(--solPanel-shadow),
    -2.44vw 1.6vw 0 -0.4vw var(--solPanel-color),
    -2.41vw 1.2vw 0 -0.4vw var(--solPanel-shadow),
    -2.44vw 1vw 0 -0.4vw var(--solPanel-color),
    -2.415vw 0.6vw 0 -0.4vw var(--solPanel-shadow),
    -2.44vw 0.4vw 0 -0.4vw var(--solPanel-color),
    -2.3vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
    -2.65vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
    -2.9vw 0.15vw 0 -0.5vw rgb(212, 144, 81),
    -3.15vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
    -3.5vw 0.2vw 0 -0.55vw rgb(212, 144, 81),
            /* CENTER ROD */
    -1.1vw -0.2vw 0 -0.55vw rgba(0, 0, 0, 0.25),
    -1.1vw 0 0 -0.55vw rgba(0, 0, 0, 0.25),
    -1.1vw 0.2vw 0 -0.55vw rgba(0, 0, 0, 0.25),
    -1vw 0 0 -0.2vw rgb(0,0,0,0.4),
    -1vw 0 0 -0.2vw var(--primary-color),
    -1.55vw 0 0 -0.45vw rgb(150, 150, 150),
    -2.0vw 0 0 -0.49vw rgb(140, 140, 140),
    -2.4vw 0 0 -0.51vw rgb(130, 130 ,130),
    -2.9vw 0 0 -0.4vw rgb(150, 150, 150),
    -3.4vw 0 0 -0.5vw rgb(80, 80, 80),
            /* --- SOLAR PANEL L --- */
    -2.44vw -0.4vw 0 -0.4vw var(--solPanel-shadow),
    -2.415vw -0.6vw 0 -0.4vw var(--solPanel-color),
    -2.44vw -1vw 0 -0.4vw var(--solPanel-shadow),
    -2.415vw -1.2vw 0 -0.4vw var(--solPanel-color),
    -2.44vw -1.6vw 0 -0.4vw var(--solPanel-shadow),
    -2.415vw -1.8vw 0 -0.4vw var(--solPanel-color),
    -2.44vw -2.2vw 0 -0.4vw var(--solPanel-shadow),
    -2.415vw -2.4vw 0 -0.4vw var(--solPanel-color),
    -2.44vw -2.8vw 0 -0.4vw var(--solPanel-shadow),
    -2.415vw -3vw 0 -0.4vw var(--solPanel-color),
    -2.44vw -3.4vw 0 -0.4vw var(--solPanel-shadow),
    -2.415vw -3.6vw 0 -0.4vw var(--solPanel-color),
    -3.335vw -3.6vw 0 -0.4vw var(--solPanel-shadow),
    -3.36vw -3.4vw 0 -0.4vw var(--solPanel-color),
    -3.335vw -3vw 0 -0.4vw var(--solPanel-shadow),
    -3.36vw -2.8vw 0 -0.4vw var(--solPanel-color),
    -3.335vw -2.4vw 0 -0.4vw var(--solPanel-shadow),
    -3.36vw -2.2vw 0 -0.4vw var(--solPanel-color),
    -3.335vw -1.8vw 0 -0.4vw var(--solPanel-shadow),
    -3.36vw -1.6vw 0 -0.4vw var(--solPanel-color),
    -3.335vw -1.2vw 0 -0.4vw var(--solPanel-shadow),
    -3.36vw -1vw 0 -0.4vw var(--solPanel-color),
    -3.335vw -0.6vw 0 -0.4vw var(--solPanel-shadow),
    -3.36vw -0.4vw 0 -0.4vw var(--solPanel-color),
    -2.3vw -0.2vw 0 -0.55vw rgb(212, 144, 81),
    -2.65vw -0.2vw 0 -0.55vw rgb(212, 144, 81),
    -2.9vw -0.15vw 0 -0.5vw rgb(212, 144, 81),
    -3.15vw -0.2vw 0 -0.55vw rgb(212, 144, 81),
    -3.5vw -0.2vw 0 -0.55vw rgb(212, 144, 81)
    ;
}



#analogClock #minArrow::before{
    content: "";
    position: absolute;
    /* width: 0.4vw;
    height: 20vw;
    bottom: -2vw;
    border-radius: 4px;
    background-color: white; */
    /* box-shadow: inset 0px 200px 0px -150px rgba(255, 255, 255, 0.4) */

    width: 7vw;
    height: 3vw;
    bottom: 14vw;
    border-radius: 50%;
    background-color: transparent;
    box-shadow:
    /*===== LITTLE CRATER =====*/
    inset 0 0.7vw 0.7vw 0 rgba(0, 0, 0, 0.4),
    inset 0 -0.2vw 0.3vw -0.3vw rgba(255, 255, 255, 0.4),
    0 0.5vw 0.8vw -0.1vw rgba(0, 0, 0, 0.4),
    0 -0.3vw 1vw -0.8vw rgba(255, 255, 255, 0.4),
    inset 0 0 2vw 0vw rgba(0,0,0,0.3)
    ;
}

#analogClock #hrArrow::before{
    content: "";
    position: absolute;
    /* width: 0.4vw;
    height: 24vw;
    bottom: -2vw;
    border-radius: 4px;
    background-color: white; */
    /* box-shadow: inset 0px 2vw 0px 0px rgba(255, 255, 255, 0.8) */

    /* width: 1vw;
    height: 1vw;
    bottom: 10vw;
    border-radius: 50%;
    background-color: lightgray; */

    width: 10vw;
    height: 8vw;
    bottom: 5vw;
    border-radius: 50%;
    background-color: transparent;
    box-shadow:
    /*===== BIG CRATER =====*/
    inset 0 0.7vw 0.7vw 0 rgba(0, 0, 0, 0.4),
    inset 0 -0.2vw 0.3vw -0.3vw rgba(255, 255, 255, 0.4),
    0 0.5vw 0.8vw -0.1vw rgba(0, 0, 0, 0.4),
    0 -0.3vw 1vw -0.8vw rgba(255, 255, 255, 0.4),
    inset 0 0 5vw 0 rgba(0,0,0,0.5)
    ;
}



#digitalClock {
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* bottom: 10vw; */
    font-size: 2.5vw;
    /* color: rgba(0, 0, 0, 0.212); */
    color: rgba(255, 255, 255, 0.45);
    text-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.1);;
    /* font-family:'Courier New', Courier, monospace; */
    user-select: none; /*makes clock unselectable*/
    z-index: 1;
}





#settings {
    position: fixed;
    padding: 2px;
    width: 400px;
    height: 25px;
    top: -35px;
    border: 2px outset;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--menuColor);
    opacity: 50%;
    transition: opacity .2s, top .3s;
    user-select: none;
    z-index: 2;
}
#settings::before {
    content: "Settings";
    padding-inline: 10px;
    width: fit-content;
    height: 25px;
    display: flex;
    position: absolute;
    justify-self: center;
    justify-content: center;
    align-items: center;
    color: gray;
    top: 100%;
    border: 2px outset;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background: var(--menuColor);
    transition: top .3s, opacity .3s;
}
#settings:hover {
    opacity: 100%;
    top: 0;
}

#settings #toggler {
    width: 150px;
    background-color: lightgray;
    border: 2px outset;
    border-radius: 4px;
}
#settings #toggler:active {
    border-style: inset;
}
#settings #speedSlider::-webkit-slider-thumb {
    cursor: ew-resize;
}
#settings #speedDisplay {
    width: 40px;
}




#sliderBox {
    bottom: 15vh;
    height: auto;
    width: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s filter;
    z-index: 2;
}
.slider {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider input {
    -webkit-appearance: none;
    background: none;
    transform: rotate(-90deg);
    width: 100%;
    height: 5px;
    transition-property: display;
    transition-delay: 2s;
    border-radius: 5px;
    box-shadow:
    inset 0 0 3px 0 rgba(0, 0, 0, 0.1),
    0 0 3px 0 rgba(255, 255, 255, 0.1);
    opacity: 100%;
}

.slider input::-webkit-slider-thumb {
    cursor: ns-resize;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: transparent;
    cursor: ns-resize;
    box-shadow:
    0 0 5px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 5px 0 rgba(255, 255, 255, 0.15);
    transition: box-shadow .2s ease-in-out;
    opacity: 100%;
}
.slider input::-webkit-slider-thumb:active {
    cursor: none;
}
.slider:nth-of-type(1) input::-webkit-slider-thumb:hover {
    box-shadow:
    0 0 5px 2px rgba(0, 0, 0, 0.25),
    inset 0 0 5px 10px rgba(255, 0, 0, 0.55);
}
.slider:nth-of-type(2) input::-webkit-slider-thumb:hover {
    box-shadow:
    0 0 5px 2px rgba(0, 0, 0, 0.25),
    inset 0 0 5px 10px rgba(0, 255,0, 0.5);
}
.slider:nth-of-type(3) input::-webkit-slider-thumb:hover {
    box-shadow:
    0 0 5px 2px rgba(0, 0, 0, 0.25),
    inset 0 0 5px 10px rgba(0, 0, 255, 0.5);
}