@import '../sass_utils/variables', '../sass_utils/mixins';

.spacer {
    top: 60px;
    width: 100%;
    height: 60px;
}

header {
    @include sectionShadow;
    position: fixed;
    width: 100%;
    height: 60px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 15vw;
    align-items: center;
    background-color: rgb(189, 98, 63);
    // background-image: url(./images/Hazy_black_ink_texture_with_brushstrokes.jpg);
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat; 
    z-index: 2;

    h1 {
        span {
            color: $tertiaryColor;
        }
    }
}

nav {
    span {
        cursor: default;
        font-size: xx-large;
        color: $tertiaryColor;
        &::before {
            
            content: "/";
        }
    }
    .menu {
        display:  none;
        position: absolute;
        width: 130px;
        border-inline: 2px solid $tertiaryColor;
        border-radius: 35px;
        list-style-type:none;
        @include sectionShadow;
        overflow: hidden;

        li {
            user-select: none;
            line-height: 2rem;
            border-radius: 5px;
            margin: 5px;
            display: flex;
            justify-content: center;
            background-color: $secondaryColor;
            transition: all 0.1s;
            box-shadow:
            inset -1px -3px 5px 0 $darken,
            inset 1px 3px 5px 0 $brighten;
            &:hover {
                line-height: 3rem;
                font-size: large;
                background-color: $primaryColor;
                &::before {
                    content: "./";
                    color: $tertiaryColor;
                }
            }

            a {
                text-decoration: none;
                &:active {
                    color: $highlightColor;
                }
            }
        }
    }


    & span:hover ~ .menu, & .menu:hover {
        display: block;
    }
}
