.button {
  background-color: rgb(52, 94, 233);
  color: rgb(12, 32, 121);
}
.button:hover {
  background-color: rgb(223, 67, 67);
  color: orange;
}

.colorChangingSquare {
  width: 100px;
  height: 100px;
  background-color: rgb(52, 94, 233);
  color: rgb(12, 32, 121);
  transition: color 2s, background-color 2s;
}
.colorChangingSquare:hover {
  background-color: rgb(223, 67, 67);
  color: orange;
}