@mixin sectionShadow {
    box-shadow:
    0 0 10px 0px rgba(0, 0, 0, 0.274);
    // 0 -5px 10px 0 $darken,
    // inset 0 5px 5px 0 $brighten,
    // 0 10px 15px 0 $darken,
    // inset 0 -5px 5px 0 $darken;
    
}

@mixin inlineBorders {
    border-radius: 1rem;
    border-block: none;
    border-inline: 3px solid $tertiaryColor;
}