$primaryColor: #d3d3d3;
$secondaryColor: #fff;
$tertiaryColor: #e9c27a;
$borderColor: violet;
$highlightColor: #ffff00;
$bgColor: $secondaryColor;
$textColor: #464646;
$textActiveColor:#727272;
$headerColor: #fff;

$brighten: #ffffff34;
$darken: #0000003a;