$primaryColor: lightgray;
$secondaryColor: rgb(204, 197, 181);
$tertiaryColor: rgb(233, 194, 122);
$borderColor: #4b4b4b;
$highlightColor: #ffff00;
$bgColor: beige;
$textColor: #fff;

$brighten: #ffffff1e;
$darken: #0000004f;